html, body {
    margin: 0;
    padding: 0;
}

html, body, main {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial";
}

header{
    height: 100px;
    width: 100%;
}

footer{
    height: 100px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}