<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <title>{% block title %}{% endblock %} - Travel map</title>
        <meta name="description" content="World map with pins from all the places you visited." />
        <link rel="author" href="https://github.com/IvBre"/>
        <meta property="og:title" content="Travel Map" />
        <meta property="og:type" content="application" />
        <meta property="og:url" content="http://travel-map.ivanapetrovic.me" />
        <meta property="og:description" content="World map with pins from all the places you visited." />
    </head>

    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <div class="flash-messages">
            {% for success in app.session.flashbag.get('success') %}
                <div class="success">{{ success }}</div>
            {% endfor %}
            {% for info in app.session.flashbag.get('info') %}
                <div class="info">{{ info }}</div>
            {% endfor %}
            {% for error in app.session.flashbag.get('error') %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% include "footer.html.twig" %}
        </footer>

        {% block script %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>