{% extends "base.html.twig" %}

{% block content %}

    <ul>
        {% for name, message in providers %}
            <li><a href="{{ path('authenticate', {'p': name}) }}">{{ message }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}