{% extends "base.html.twig" %}

{% block title %}{{ user.fullname }}{% endblock %}

{% block header %}
<span class="text">You are looking at map from <b>{{ user.fullName }}</b></span>
<a href="{{ path('home') }}" class="login-btn login-google">Create your own map</a>
{% endblock %}

{% block content %}
    {% include "_map_content.html.twig" %}
{% endblock %}

{% block script %}
    {{ parent() }}
    {% include "_map_script.html.twig" with { api_key: api_key, shareToken: token } %}
{% endblock %}